@charset "utf-8";

@font-face {
	font-family: butcherman-caps;
}

/* CSS Document */

/* selector */
h1 {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 38px
}

h2 {
	font-weight: bold;
	font-size: 30px;
    text-underline-position: below;
}

h3 {
	font-weight: bold;
	font-size: 30px
}

body, button, input, label, select, td, textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* classes */
.span0 {
	color: #FFFFFF
}

.span1 {
	font-weight: bold;
	font-size: 24px;
}

.span2 {
	font-size: 18px
}

.spanLightBlueText {
	color: #007CFF
}

.background {
	margin: 0px;
	padding: 0px;
	direction: ltr;
	line-height: 1.34;
	unicode-bidi: embed
}

.topBar {
	height: 100px;
	min-width: 1000px
}

.topBar2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 13px;
	width: 1000px
}

.middleBar {
	height: 500px;
	min-width: 1000px
}

.paddingMiddle {
	padding-top: 20px;
	padding-bottom: 20px
}

.bottomBar {
	height: 50px;
	min-width: 1000px
}

.floatLeft {
	float: left
}

.floatRight {
	float: right
}

.registerForm {
	width: 400px;
	padding: 0px;
	margin: 0px;
	margin-top: -30px
}

.registerTextBox {
	size: 50px;
	font-size: 16px;
	border: thin;
	border-radius: 4px;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 5px;
	margin-right: 30px
}

.registerTextBoxTop {
	margin-top: -20px
}

.textMargin {
	margin-top: -15px
}

.textMargin2 {
	margin-bottom: 15px
}

.registerSubmitButton {
	size: 50px;
	font-size: 16px;
	border: solid;
	border-radius: 4px;
	background: #4CAF50;
	padding: 10px;
	font-weight: bold;
	width: 75%;
	color: #FFFFFF;
	border-color: transparent;
	margin-top: 10px
}

.registerSubmitButton:hover {
	background-color: #66BC69
}

.returnHomePageButton {
	font-size: 16px;
	border: solid;
	border-radius: 4px;
	background: #4CAF50;
	padding: 5px;
	font-weight: bold;
	color: #FFFFFF;
	border-color: transparent;
	margin-top: 10px;
	width: 200px
}

.returnHomePageButton:hover {
	background-color: #66BC69
}

.footerMessage {
	color: #000000;
	text-align: center;
    
}

.sideToolPanel {
    float: left;
    margin: 0;
    padding: 0;
    margin-top: -37px;
    width:20%;
}

.userMainPanel_ViewTicket {
    overflow: auto;
    text-align: center;
    float:left;
    width:80%;
    height: 400px;
    margin-top: -40px;
}

.userMainPanel_CreateTicket {
    overflow: auto;
    text-align: center;
    float: right;
    height: 80%;
    width: 80%;
    min-width: 80%;
}

.userMainPanel_UpdateTicket {
    overflow: auto;
    text-align: center;
    float: right;
    height: 100%;
    width: 100%;
    min-width: 100%;
}

.middleBar2 {
    height: 600px;
    min-width: 1000px;
}

.custTicketInformation {

}

.custTicketNotes {
    padding-top: -200px;
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    text-align: center;
}

.ticketTextBox {
    resize: none;
    height: 200px;
}


.viewTicketTable {
    width: 100%;
    min-width: 100%;
}

.tableHeader {
	font-weight: bold;
    
}

.alertTicketRow {
    background-color: firebrick;
    border: thick;
    font-weight: bold;
    
}

.completedTicketColor {
    background-color: aquamarine;
    font-weight: bold;
}

.rowFont {
	font-weight: bold;
    text-align: center;
    font-size: medium;
}

/* id */
#mainBar {
    background-color: #000000
}

#bottomBar {
	background-color: #FFFFFF
}

#secondaryBackGround {
	margin: 0px;
	background-color: #E9F1FC;
	padding: 0px;
	position: relative;
	min-height: 90px;
	background-size: auto
}

#secondaryBackGround2 {
    margin-left: 0px;
    background-color: #E9F1FC;
    padding: 0px;
    position: relative;
    min-height: 150px;
    background-size: auto
}

#btn_createTicket {
    font-weight: bold;
    width: 200px;
    border: 2px solid green;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 10px;
}
#btn_createTicket:hover {
    background-color: #3e8e41;
}
#btn_createTicket:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#btn_showUserTickets {
    font-weight: bold;
    width: 200px;
    border: 2px solid green;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 10px;
}

#btn_showUserTickets:hover {
    background-color: #3e8e41;
}

#btn_showUserTickets:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#btn_logout {
    font-weight: bold;
    width: 100px;
    border: 2px solid green;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    padding: 0px;
    margin-top: 50px;
    height: 30px;
}

#btn_logout:hover {
    background-color: #3e8e41;
}

#btn_submitTicket {
    font-weight: bold;
    width: 250px;
    border: 2px solid green;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    padding: 0px;
    margin-top: 60px;
    height: 50px;
}

#btn_submitTicket:hover {
    background-color: #3e8e41;
}

#btn_allTicket  {
    font-weight: bold;
    width: 200px;
    border: 2px solid green;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 10px;
}
#btn_allTicket:hover {
    background-color: #3e8e41;
}
#btn_allTicket:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
